In [2]:
#创建一个Series类型数据（带标签的数组）
import pandas as pd
data = pd.Series([1,3,5,7])
print(data)

0    1
1    3
2    5
3    7
dtype: int64

In [4]:
#Series的index和values属性
lst = [1,3,5,7]
data = pd.Series([1,3,5,7])
print(data)
print(data.index)
print(data.values)

0    1
1    3
2    5
3    7
dtype: int64
RangeIndex(start=0, stop=4, step=1)
[1 3 5 7]

In [5]:
print(data.values)
print(data.index)

[1 3 5 7]
RangeIndex(start=0, stop=4, step=1)

In [8]:
#Series对象中的index参数
list_data = [1,3,5,7]
data = pd.Series(list_data,index=['a','j','k','z'])
print(data)

a    1
j    3
k    5
z    7
dtype: int64

In [9]:
#修改index参数
list_data = [1,3,5,7]
data = pd.Series(list_data,index = ['a','j','k','z'])
data.index = ['j','z','x','k']
print(data)

j    1
z    3
x    5
k    7
dtype: int64

In [10]:
#len方法来获取data的长度值属性
print(len(data))

4

In [14]:
#通过索引列表来获取多个值
list_data = [1,3,5,7]
data = pd.Series(list_data,index = ['a','j','k','z'])
print(data[['a','k','z']])

a    1
k    5
z    7
dtype: int64

In [15]:
#通过切片来访问Series中的多个值
lst = [1,3,5,7]
data = pd.Series(lst)
print(data[0:2])

0    1
1    3
dtype: int64

In [16]:
#统计Series中各个数据的出现次数
lst = [1,3,5,7,1,5,2,6]
data = pd.Series(lst)
print(data.value_counts())

5    2
1    2
7    1
6    1
3    1
2    1
dtype: int64

In [18]:
list_data = [1,3,5,7]
data = pd.Series(list_data,index = ['a','j','k','z'])
print('a' in data)

True

In [19]:
#由字典创建Series类型数据
dict_data = {
    "Beijing":1000,
    "Shanghai":800,
    "Shenzhen":500
}
data = pd.Series(dict_data)
print(data)

Beijing     1000
Shanghai     800
Shenzhen     500
dtype: int64

In [25]:
#使用字典和index数组来实例化Series
dict_data = {
    "Beijing":1000,
    "Shanghai":800,
    "Shenzhen":500
}
list_index = ["Guangzhou","Beijing","Shanghai","Shenzhen"]
data = pd.Series(dict_data,index=list_index)
print(data)

Guangzhou       NaN
Beijing      1000.0
Shanghai      800.0
Shenzhen      500.0
dtype: float64

In [24]:
#isnull来判定Series内容是否为空
print(data.isnull())

Guangzhou     True
Beijing      False
Shanghai     False
Shenzhen     False
dtype: bool

In [26]:
#可以进行乘法运算对内容进行运算
print(data*2)

Guangzhou       NaN
Beijing      2000.0
Shanghai     1600.0
Shenzhen     1000.0
dtype: float64

In [27]:
#可以使用numpy中的方法来对Series中的数据进行运算
import numpy as np
print(np.square(data))

Guangzhou          NaN
Beijing      1000000.0
Shanghai      640000.0
Shenzhen      250000.0
dtype: float64

In [32]:
index_list = ["Guangzhou","Beijing","Shanghai","Shenzhen"]
dict_data1 = {
    "Beijing":1000,
    "Shanghai":800,
    "Shenzhen":500
}
dict_data2 = {
    "Beijing":5000,
    "Shanghai":100,
    "Shenzhen":200
}
data1 = pd.Series(dict_data1,index=index_list)
data2 = pd.Series(dict_data2,index=index_list)
print(data1+data2)

Guangzhou       NaN
Beijing      6000.0
Shanghai      900.0
Shenzhen      700.0
dtype: float64

In [34]:
#通过设置name属性来指定数据和index的标签名
data.name = "CityData"
data.index.name = "City"
print(data)

City
Guangzhou       NaN
Beijing      1000.0
Shanghai      800.0
Shenzhen      500.0
Name: CityData, dtype: float64

In [38]:
#通过列表字典来实例化创建DF对象,每一个key代表一个特征
dict_data = {
    'student':['lilei','hanmeimei','madongmei'],
    'score':[98,99,100],
    'gender':['M','F','F']
}
data = pd.DataFrame(dict_data)
print(data)

     student  score gender
0      lilei     98      M
1  hanmeimei     99      F
2  madongmei    100      F

In [39]:
#通过columns属性类控制数据特征的顺序
dict_data = {
    'student':['lilei','hanmeimei','madongmei'],
    'score':[98,99,100],
    'gender':['M','F','F']
}
data = pd.DataFrame(dict_data,columns=['gender','student','score'])
print(data)

  gender    student  score
0      M      lilei     98
1      F  hanmeimei     99
2      F  madongmei    100

In [40]:
print(data.columns)

Index(['gender', 'student', 'score'], dtype='object')

In [41]:
#通过index参数来指定DataFrame数据的索引值
dict_data = {
    'student':['lilei','hanmeimei','madongmei'],
    'score':[98,99,100],
    'gender':['M','F','F']
}
data = pd.DataFrame(dict_data,
    columns = ['gender','student','score'],
    index = ['a','b','c']
    )
print(data)

  gender    student  score
a      M      lilei     98
b      F  hanmeimei     99
c      F  madongmei    100

In [42]:
#获取DF数据中的一列（某一个特征维度的所有值）
print(data['student'])
print(data.student)

a        lilei
b    hanmeimei
c    madongmei
Name: student, dtype: object
a        lilei
b    hanmeimei
c    madongmei
Name: student, dtype: object

In [43]:
#通过定位获取DataFrame数据中的某一行数据
print(data.iloc[0])

gender         M
student    lilei
score         98
Name: a, dtype: object

In [44]:
slice_data = data['score']
slice_data[0] = 70
print(data)

  gender    student  score
a      M      lilei     70
b      F  hanmeimei     99
c      F  madongmei    100

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
#给某一列赋值一个常数
data['score'] = 95
print(data)

  gender    student  score
a      M      lilei     95
b      F  hanmeimei     95
c      F  madongmei     95

In [46]:
#给每一列赋值一个等差数列
data['score'] = range(95,98)
print(data)

  gender    student  score
a      M      lilei     95
b      F  hanmeimei     96
c      F  madongmei     97

In [47]:
#通过index来设定索引编号
score = pd.Series([100,90,80],index=['c','b','a'])
data['score'] = score
print(data)

  gender    student  score
a      M      lilei     80
b      F  hanmeimei     90
c      F  madongmei    100

In [48]:
#通过del来删除某一个数据列
del data['score']
print(data)

  gender    student
a      M      lilei
b      F  hanmeimei
c      F  madongmei

In [49]:
#通过reindex方法来重新排列行顺序
data = data.reindex(['c','a','b'])
print(data)

  gender    student
c      F  madongmei
a      M      lilei
b      F  hanmeimei

In [50]:
#通过reindex方法来重新排列行顺序，并且产生缺失值
data = data.reindex(['c','a','b','d'])
print(data)

  gender    student
c      F  madongmei
a      M      lilei
b      F  hanmeimei
d    NaN        NaN

In [51]:
#通过fill_value来补全缺失的数据
data = data.reindex(['c','a','b','d'],fill_value=0)
print(data)

  gender    student
c      F  madongmei
a      M      lilei
b      F  hanmeimei
d    NaN        NaN

In [76]:
dict_data = {
    'student':['lilei','hanmeimei','madongmei'],
    'score':[98,99,100],
    'gender':['M','F','F']
}
data = pd.DataFrame(dict_data,
    columns = ['gender','student','score'],
    index = ['a','b','c']
    )
score = pd.Series([100,80],index=['c','a'])
data['score'] = score
data = data.reindex(index=['a','b','c','d'],method='ffill')
print(data)

  gender    student  score
a      M      lilei   80.0
b      F  hanmeimei    NaN
c      F  madongmei  100.0
d      F  madongmei  100.0

In [77]:
print(data.dropna())

  gender    student  score
a      M      lilei   80.0
c      F  madongmei  100.0
d      F  madongmei  100.0

In [78]:
print(data.dropna(how='all'))

  gender    student  score
a      M      lilei   80.0
b      F  hanmeimei    NaN
c      F  madongmei  100.0
d      F  madongmei  100.0

In [79]:
print(data.fillna(0))

  gender    student  score
a      M      lilei   80.0
b      F  hanmeimei    0.0
c      F  madongmei  100.0
d      F  madongmei  100.0

In [80]:
print(data.fillna({'score':60}))

  gender    student  score
a      M      lilei   80.0
b      F  hanmeimei   60.0
c      F  madongmei  100.0
d      F  madongmei  100.0

In [81]:
data = data.drop('d')
print(data)

  gender    student  score
a      M      lilei   80.0
b      F  hanmeimei    NaN
c      F  madongmei  100.0

In [82]:
dict_data = {
    'student':['lilei','hanmeimei','madongmei'],
    'score':[98,99,100],
    'gender':['M','F','F']
}
data = pd.DataFrame(dict_data,
    columns = ['gender','student','score'],
    index = ['a','b','c']
    )
print(data[data['score']>=90])

  gender    student  score
a      M      lilei     98
b      F  hanmeimei     99
c      F  madongmei    100

In [83]:
dict_data = {
    'student':['a','b','c','d','e','f'],
    'score':[98,99,100,95,96,98],
    'gender':['M','F','F','F','M','M']
}
data = pd.DataFrame(dict_data)
select_list = [95,98,100]
print(data[data['score'].isin(select_list)])

  student  score gender
0       a     98      M
2       c    100      F
3       d     95      F
5       f     98      M

In [85]:
data = pd.DataFrame({
        'tag_id' : ['a','b','c','a','a','c'],
        'count'  : [10,30,20,10,15,22]
})
grouped_data = data.groupby('tag_id')
print(grouped_data.sum())

        count
tag_id
a          35
b          30
c          42

In [90]:
dict_data = {
    'student':['lilei','hanmeimei','madongmei'],
    'score':[98,99,100],
    'gender':['M','F','F']
}
data = pd.DataFrame(dict_data,
    columns = ['gender','student','score'],
    index = ['a','b','c']
    )
print(data.sort_index())

  gender    student  score
a      M      lilei     98
b      F  hanmeimei     99
c      F  madongmei    100

In [91]:
print(data.sort_index(ascending=False))

  gender    student  score
c      F  madongmei    100
b      F  hanmeimei     99
a      M      lilei     98

In [92]:
print(data.sort_values(by="score"))

  gender    student  score
a      M      lilei     98
b      F  hanmeimei     99
c      F  madongmei    100

In [93]:
print(data.sum())

gender                         MFF
student    lileihanmeimeimadongmei
score                          297
dtype: object

In [94]:
book_ratings = pd.Series(
    np.random.randint(1,6,size=7),
    index = [
        ['b1','b1','b2','b2','b3','b4','b4'],
        [1,2,1,2,1,2,3]
    ]
)
print(book_ratings)

b1  1    5
    2    3
b2  1    5
    2    2
b3  1    4
b4  2    4
    3    2
dtype: int64

In [95]:
book_name = pd.DataFrame({
        'book_name':['a','b','c','d','e','f'],
        'book_id':[11,22,33,44,55,66]
})
id_rating = pd.DataFrame({
        'book_id':[11,22,22,44,55,66,33,11,55],
        'rating':[1,3,5,2,4,3,2,4,5]
})
print(pd.merge(book_name,id_rating))

  book_name  book_id  rating
0         a       11       1
1         a       11       4
2         b       22       3
3         b       22       5
4         c       33       2
5         d       44       2
6         e       55       4
7         e       55       5
8         f       66       3

In [96]:
data1 = pd.DataFrame({
    'key':['a','b','a','c','b','d'],
    'data1':[1,2,3,4,5,6]
})
data2 = pd.DataFrame({
    'key':['a','b','c'],
    'data2':[8,9,7]
})
print(pd.merge(data1,data2))

  key  data1  data2
0   a      1      8
1   a      3      8
2   b      2      9
3   b      5      9
4   c      4      7

In [97]:
data1 = pd.DataFrame({
    'key':['a','b','a','c','b','d'],
    'data1':[1,2,3,4,5,6]
})
data2 = pd.DataFrame({
    'key':['a','b','c'],
    'data2':[8,9,7]
})
print(pd.merge(data1,data2,how='outer'))

  key  data1  data2
0   a      1    8.0
1   a      3    8.0
2   b      2    9.0
3   b      5    9.0
4   c      4    7.0
5   d      6    NaN

In [98]:
data1 = pd.DataFrame({
    'key':['a','b','a','c','b','d'],
    'data1':[1,2,3,4,5,6]
})
data2 = pd.DataFrame({
    'key':['a','b','c'],
    'data2':[8,9,7]
})
print(pd.merge(data1,data2,on='key'))

  key  data1  data2
0   a      1      8
1   a      3      8
2   b      2      9
3   b      5      9
4   c      4      7

In [102]:
data1 = pd.DataFrame({
    'lkey':['a','b','a','c','b','d'],
    'data1':[1,2,3,4,5,6]
})
data2 = pd.DataFrame({
    'rkey':['a','b','c'],
    'data2':[8,9,7]
})
print(pd.merge(data1,data2,left_on='lkey',right_on='rkey'))

  lkey  data1 rkey  data2
0    a      1    a      8
1    a      3    a      8
2    b      2    b      9
3    b      5    b      9
4    c      4    c      7

In [103]:
data = pd.read_csv('rating.csv')
print(data)

           1     258    5
0          2  4081.0  4.0
1          2   260.0  5.0
2          2  9296.0  5.0
3          2  2318.0  3.0
4          2    26.0  4.0
...      ...     ...  ...
348205  5694  6364.0  3.0
348206  2760     3.0  3.0
348207  2760    49.0  2.0
348208  2760    52.0  2.0
348209  1157     NaN  NaN

[348210 rows x 3 columns]

In [104]:
data = pd.read_csv('rating.csv',header=None)
print(data)

             0       1    2
0            1   258.0  5.0
1            2  4081.0  4.0
2            2   260.0  5.0
3            2  9296.0  5.0
4            2  2318.0  3.0
...        ...     ...  ...
1094944  13260  3620.0  2.0
1094945  13260  4353.0  4.0
1094946  16722   427.0  4.0
1094947  13260  3640.0  3.0
1094948   1326     NaN  NaN

[1094949 rows x 3 columns]

In [2]:
import pandas as pd
data = pd.read_csv('rating.csv',names=['user_id','book_id','rating'])
print(data)

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
2929427    36744      828       5
2929428    36744     1265       3
2929429    36744      490       3
2929430    36744     8737       5
2929431    36744     2451       5

[2929432 rows x 3 columns]

In [3]:
data = pd.read_csv('rating.csv',names=['user_id','book_id','rating'],index_col="user_id")
print(data)

         book_id  rating
user_id
1            258       5
2           4081       4
2            260       5
2           9296       5
2           2318       3
...          ...     ...
36744        828       5
36744       1265       3
36744        490       3
36744       8737       5
36744       2451       5

[2929432 rows x 2 columns]

/opt/conda/lib/python3.6/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
data = pd.read_table('rating.csv',names=['user_id','book_id','rating'],sep=",")
print(data)

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
2929427    36744      828       5
2929428    36744     1265       3
2929429    36744      490       3
2929430    36744     8737       5
2929431    36744     2451       5

[2929432 rows x 3 columns]

In [1]:
import pandas as pd
data = pd.read_csv("data.csv",header=None)
print(data)

    0    1   2     3   4
0   1  2.0   3   4.0   5
1   6  7.0   8   NaN  10
2  11  NaN  13  14.0  15

In [4]:
import pandas as pd
data = pd.DataFrame({
    "student":['lilei','hanmeimei','madongmei'],
    "gender":['M','F','F'],
    "score":[90,80,1000]
})
data.to_csv("student.csv",index=False)

In [10]:
#需要安装1.2.0版本的xlrd和xlwt
# !pip install xlrd==1.2.0
# !pip install xlwt==1.2.0
file = pd.ExcelFile('student.xlsx')
data = file.parse('student',index_col=0)
print(data)

  gender  score    student
0      M     90      lilei
1      F     80  hanmeimei
2      F    100  madongmei

In [11]:
import pandas as pd
import numpy as np
import time

start_time = time.time()
data = np.genfromtxt('rating.csv',delimiter=',')
end_time = time.time()
print(f'Numpy reading time:{1000*(end_time-start_time)}ms')

start_time = time.time()
data = pd.read_csv('rating.csv',header=None)
end_time = time.time()
print(f'Pandas reading time:{1000*(end_time-start_time)}ms')

Numpy reading time:16089.790105819702ms
Pandas reading time:572.4649429321289ms